VITE_DASHBOARD_HASH=<sha256_de_usuario:password>
VITE_SHEET_ID=<id_de_google_sheet_contratos>
VITE_NEVERA_SHEET_ID=<id_de_google_sheet_nevera>
VITE_KOTI_SHEET_ID=<id_de_google_sheet_koti>
VITE_FORMSPREE_URL=https://formspree.io/f/xzdadkpy
